* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    padding: 8px 16px;
}

/*Global*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.superinfo-bg {
    background-color: blue;
    color: white;
}

.superinfo-bg .superinfo {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-bg {
    background-color: rgb(68, 132, 252);
}

.menu {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-logo > a {
    padding: 0;
}

.logo {
    font-weight: bolder;
    font-size: 2rem;
    color: white;
}

.ul-header {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   color: white;
}

.ul-header li > a:hover {
    color: rgb(95, 88, 88);
}

/*Introdução*/

.introducao {
	font-size: 3em;
	line-height: 1;
	padding: 60px 10px;
}

/*Sobre*/

.sobre {
	border-top: 2px solid #2c70ff;
	border-bottom: 2px solid #2c70ff;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.sobre-info {
	flex: 2 1 300px;
	margin: 0 10px;
}

.sobre-info h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-info p {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img {
	flex: 1 1 160px;
	margin: 0 10px;
}


/*Produtos*/

.produtos h1 {
    font-size: 3em;
	margin-bottom: .5em;
    padding: 60px 10px;
}

.produtos .produtos-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 15px;
}

.produtos .produtos-container .produtos-item {
    flex: 1 1 175px;
    background-color: rgb(238, 238, 238);
}

.purple {
    border-top: 4px solid purple;
}

.pink {
    border-top: 4px solid pink;
}

.blue {
    border-top: 4px solid blue;
}

.produtos .produtos-container .produtos-item h2 {
    color: gray;
    font-size: 3em;
    padding: 60px 0;
    text-align: center;
}


